@media screen and (max-width: 1460px) {
  .float-detail-card {
    width: 40% !important;
  }
}

@media screen and (max-width: 1367px) {
  .title-txt {
    margin-left: 0.5rem;
  }
  .SearchContainer {
    width: 100% !important;
    // background-color: red;
    flex-direction: column;

    div {
      button {
        margin-left: 0 !important;
        margin-top: 3px;
      }
      display: flex !important;
      flex-direction: column;
      div {
        width: 100% !important;
        flex-direction: row;
        .ant-form-item {
          display: flex !important;
          flex-direction: row;
          div:nth-child(1) {
            label {
              font-size: small;
            }
            width: 50% !important;
          }
          div:nth-child(2) {
            width: 50% !important;
            .ant-form-item-control-input {
              width: 100% !important;
              .ant-form-item-control-input-content {
                width: 100% !important;
                .ant-select-borderless {
                  width: 100% !important;
                  .ant-select-selection-item {
                    overflow: visible;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .siderModal >.ant-modal-content >.ant-modal-body{
    min-height: fit-content !important;
    max-height: 82vh !important;
  }
}

@media screen and (max-width: 1200px) {
  .float-detail-card {
    width: 50% !important;
  }
}
@media screen and (max-width: 970px) {
  .float-detail-card {
    width: 70% !important;
    max-height: 400px;
  }

}

@media screen and (max-width: 850px) {

  .ant-modal-title{
    font-size: 18px !important;
    text-align: initial !important;
    padding-left: 20px !important;
  }

 
  


  .filterModal{
    left: -200px !important;
  }
  .ant-card{
    .ant-card-body{
      padding: 5px !important;
    }
  }

  .task-summary{
    width: 10%;
    // background-color: red;
    position: absolute;
    top: 40% !important;
    left: 43% !important;
    &{
        text-align: center;
        font-size: 40px;
    }
    p{
        margin-bottom: 0;
        font-size: 18px
    }
}


  .report-head{
    max-height: 1000px !important;
   .ant-form-item{
        margin-bottom: 0 !important;
        display: flex !important;
        flex-direction: column;
    }
    .report-head-text{
        max-width: fit-content;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.report-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column !important;
  width: 100%;
  .filterMem{
      width: 95% !important;
      margin-top: 10px;
  }

}


.report-con{
  margin-top: 10px !important;
  .member-1{
      display: flex;
      flex-direction: column !important;
      margin-bottom: 10px !important;
      .ant-card{
          margin-right: 0 !important;
          width: 100% !important;
          height: fit-content !important;
          .ant-card-body{
              min-height: 5vh !important;
          }
      }
  }
  .member-2{
      flex-direction: column !important;
      margin-bottom: 10px !important;
      .ant-card{
        margin-right: 0 !important;
        width: 100% !important;
        height: fit-content !important;
          .ant-card-body{
              min-height: 5vh !important;
              .userPerfom{
                  border: 1px solid #ccc;
                  padding: 10px;
                  display: flex !important;
                  flex-direction: row;
                  div:nth-child(1) {
                      width: 70%;
                  }
                  div:nth-child(2) {
                      width: 30%;
                  }
              }
              
          }
      }

  }

  .member-3{
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      .ant-card{
          margin-right: 1%;
          height: fit-content !important;
          .ant-card-body{
              min-height: 5vh !important;
              .userPerfom{
                  border: 1px solid #ccc;
                  padding: 10px;
                  display: flex !important;
                  flex-direction: row;
                  div:nth-child(1) {
                      width: 70%;
                  }
                  div:nth-child(2) {
                      width: 30%;
                  }
              }
          }
      }

  }

  .member-4{
    flex-direction: column !important;
    margin-bottom: 10px !important;
    .ant-card{
      margin-right: 0 !important;
      width: 100% !important;
      height: fit-content !important;
        .ant-card-body{
            min-height: 5vh !important;
        }
      }

  }
}


  #rcDialogTitle0{
    font-size: 18px !important;
  }

.task-search{
  margin-top: 10px;
  display: flex !important;
  flex-direction: column !important;
  div{
    max-width: 100% !important;
  }
}
  .ant-modal{
    margin: 0 !important;
    left: 0 !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  div.ant-form-item-label {
    text-align: left !important;
    label.ant-form-item-required::before {
      content: "" !important;
    }
    label.ant-form-item-required::after {
      color: #ff1519 !important;
      font-size: 14px !important;
      font-family: SimSun, sans-serif !important;
      line-height: 1px !important;
      content: ":*" !important;
    }
  }
  .ant-form-item .ant-form-item-label > label::after {
   display: block !important;
}
  .search-ipqc{
    display: flex !important;
    flex-direction: column !important;
    height: fit-content !important;
    max-height: fit-content !important;
    >div{
        max-width: 100% !important;
        margin-top: 5px !important;
    }

}
///

.search-serial{
  >form{
      >div{
      display: flex;
      flex-direction: column !important;
      > div{
          max-width: 100% !important;
          > button{
              width: 100% !important;
          }
      }
  }
  }
}
//
.search-ipqc-sign{
  max-width: 100% !important;
  margin-bottom: 10px;
  > div
  {
      display: flex;
      flex-direction: column !important;
      max-width: 100% !important;
      width: 100% !important;
      > div
      {
          display: flex;
          flex-direction: column !important;
          height: fit-content !important;
          max-width: 100% !important;
          width: 100% !important;
      }
  }
}

///
  .search-ky-ipqc{
  
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  > .ant-col{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    > .ant-row{
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: row !important;
    }
  }
  > .ant-col-1{
    > .ant-btn{
      width: 100% !important;
    }
  }
}


  // 

  .search-objectPN {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100% !important;
    .search-memberPN {
      width: 100% !important;
      margin-left: 0 !important;
    }
    button{
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
  .form .ant-row {
    display: flex;
    flex-direction: column;
    .ant-col-8 {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  .header-container {
    div:nth-child(2) {
      width: 0;
      display: none;
      .ant-breadcrumb {
        display: none;
      }
    }
    div:nth-child(3) {
      max-width: 100% !important;
      width: 70%;
      margin-left: 15px;
    }

    div:nth-child(4) {
      width: 30%;
    }
  }

  .ant-page-header {
    display: none;
  }

  .ant-form {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .ant-col-11,
    .ant-col-12,
    .ant-col-md-12,
    .ant-col-8,
    .ant-col-20,
    .ant-col-22 {
      width: 100% !important;
      max-width: 100% !important;
      flex-basis: 100% !important;
      padding: 0 !important;
    }
  }

  .RowTool {
    .ant-col {
      width: 40px;
      .ant-btn-icon-only.ant-btn-lg {
        width: 35px;
        height: 35px;
        padding: 3px 0;
        font-size: 18px;
      }
    }
  }
  .SearchContainer {
    width: 100% !important;
    // background-color: red;
    flex-direction: column;

    div {
      button {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 3px;
      }
      display: flex !important;
      flex-direction: column;
      div {
        width: 100% !important;
        flex-direction: column;
        .ant-form-item {
          display: flex !important;
          flex-direction: row;
          div:nth-child(1) {
            label {
              font-size: small;
            }
            width: 50% !important;
          }
          div:nth-child(2) {
            width: 50% !important;
            .ant-form-item-control-input {
              width: 100% !important;
              .ant-form-item-control-input-content {
                width: 100% !important;
                .ant-select-borderless {
                  width: 100% !important;
                  .ant-select-selection-item {
                    overflow: visible;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .ant-select,
  .ant-select-borderless {
    width: 100% !important;
  }

  #address {
    padding: 0 !important;
  }
  #sider-mobile {
    max-width: 65px !important;
    min-width: 65px !important;
  }
  .ant-layout-sider-children {
    .ant-col {
      .ant-avatar {
        max-width: 50px !important;
      }
    }
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    .ant-col-11 {
      width: 40px !important;
    }
  }
  .rowFormNL {
    display: block !important;
    .colFormNL {
      width: 100% !important;
    }
  }

  .ant-modal {
    z-index: 9999999999;
    width: 100% !important;
    .ant-modal-content {
      width: 100% !important;
    }
  }

  .RowKetNhapBtn {
    display: flex;
    justify-content: space-between;
    div:nth-child(1) {
      width: 45% !important;
    }
    div:nth-child(2) {
      width: 40%;
      .ant-btn-primary {
        width: fit-content !important;
      }
    }
  }

  .headerView {
    margin-bottom: 0px !important;
  }
  .header2 {
    // background-color: red;
    margin-bottom: 15px !important;
    width: 100%;
    .ant-form {
      div {
        flex-direction: column !important;
        justify-content: center;
        .ant-col-6 {
          > .ant-form-item {
            margin-bottom: 5px;
          }
          width: 100% !important;
          max-width: 100% !important;
          .select-type {
            display: flex;
            flex-direction: row !important;
            > div:nth-child(1) {
              label {
                font-size: small;
              }
              max-width: 50% !important;
            }
            > div:nth-child(2) {
              max-width: 50% !important;
              .ant-form-item-control-input {
                width: 100% !important;
                .ant-form-item-control-input-content {
                  width: 100% !important;
                  .ant-select-borderless {
                    width: 100% !important;
                    > div:nth-child(1) {
                      justify-content: unset !important;
                    }
                    .ant-select-selection-item {
                      overflow: visible;
                    }
                  }
                }
              }
            }
          }
        }
        .ant-col {
          button {
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  div#button-trigger-sider-menu {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .ant-pagination-options {
    display: block !important;
  }
}

@media screen and (max-width: 450px) {

  .struct_product_search{
    display: flex;
    >.ant-row{
      display: flex;
      flex-direction: column !important;
      width: 100% !important;
      >.ant-col-1{
        display: none;
      }
      >.ant-col{
        height: fit-content !important;
        max-width: 100% !important;
        > button{
          width: 100%;
        }
      }
    }
  }

  .ant-avatar-image{
    margin-top: 5px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .ant-layout-header{
    height: 40px !important;
  }

  .search_diagram{
    display: flex !important;
    flex-direction: column !important;
    >div{
      margin-top: 3px;
    }
  }

  .djs-palette{
    left: 2px !important;
    top: 20px;
  }

  .user-name-drop{
    display: block !important;

  }
  .user-name{
    display: none !important;
  }

  .ant-modal-title{
    font-size: 18px !important;
    text-align: initial !important;
    padding-left: 20px !important;
  }
  


  .filterModal{
    left: -200px !important;
  }
  .ant-card{
    .ant-card-body{
      padding: 5px !important;
    }
  }

  .task-summary{
    width: 10%;
    // background-color: red;
    position: absolute;
    top: 40% !important;
    left: 43% !important;
    &{
        text-align: center;
        font-size: 40px;
    }
    p{
        margin-bottom: 0;
        font-size: 18px
    }
}


  .report-head{
    max-height: 1000px !important;
   .ant-form-item{
        margin-bottom: 0 !important;
        display: flex !important;
        flex-direction: column;
    }
    .report-head-text{
        max-width: fit-content;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.report-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column !important;
  width: 100%;
  .filterMem{
      width: 95% !important;
      margin-top: 10px;
  }

}


.report-con{
  margin-top: 10px !important;
  .member-1{
      display: flex;
      flex-direction: column !important;
      margin-bottom: 10px !important;
      .ant-card{
          margin-right: 0 !important;
          width: 100% !important;
          height: fit-content !important;
          .ant-card-body{
              min-height: 5vh !important;
          }
      }
  }
  .member-2{
      flex-direction: column !important;
      margin-bottom: 10px !important;
      .ant-card{
        margin-right: 0 !important;
        width: 100% !important;
        height: fit-content !important;
          .ant-card-body{
              min-height: 5vh !important;
              .userPerfom{
                  border: 1px solid #ccc;
                  padding: 10px;
                  display: flex !important;
                  flex-direction: row;
                  div:nth-child(1) {
                      width: 70%;
                  }
                  div:nth-child(2) {
                      width: 30%;
                  }
              }
              
          }
      }

  }

  .member-3{
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      .ant-card{
          margin-right: 1%;
          height: fit-content !important;
          .ant-card-body{
              min-height: 5vh !important;
              .userPerfom{
                  border: 1px solid #ccc;
                  padding: 10px;
                  display: flex !important;
                  flex-direction: row;
                  div:nth-child(1) {
                      width: 70%;
                  }
                  div:nth-child(2) {
                      width: 30%;
                  }
              }
          }
      }

  }

  .member-4{
    flex-direction: column !important;
    margin-bottom: 10px !important;
    .ant-card{
      margin-right: 0 !important;
      width: 100% !important;
      height: fit-content !important;
        .ant-card-body{
            min-height: 5vh !important;
        }
      }

  }
}


  #rcDialogTitle0{
    font-size: 18px !important;
  }

.task-search{
  margin-top: 10px;
  display: flex !important;
  flex-direction: column !important;
  div{
    max-width: 100% !important;
  }
}
  .ant-modal{
    margin: 0 !important;
    left: 0 !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  div.ant-form-item-label {
    text-align: left !important;
    label.ant-form-item-required::before {
      content: "" !important;
    }
    label.ant-form-item-required::after {
      color: #ff1519 !important;
      font-size: 14px !important;
      font-family: SimSun, sans-serif !important;
      line-height: 1px !important;
      content: ":*" !important;
    }
  }
  .ant-form-item .ant-form-item-label > label::after {
   display: block !important;
}
  .search-ipqc{
    display: flex !important;
    flex-direction: column !important;
    height: fit-content !important;
    max-height: fit-content !important;
    >div{
        max-width: 100% !important;
        margin-top: 5px !important;
    }

}
///

.search-serial{
  >form{
      >div{
      display: flex;
      flex-direction: column !important;
      > div{
          max-width: 100% !important;
          > button{
              width: 100% !important;
          }
      }
  }
  }
}
//
.search-ipqc-sign{
  max-width: 100% !important;
  margin-bottom: 10px;
  > div
  {
      display: flex;
      flex-direction: column !important;
      max-width: 100% !important;
      width: 100% !important;
      > div
      {
          display: flex;
          flex-direction: column !important;
          height: fit-content !important;
          max-width: 100% !important;
          width: 100% !important;
      }
  }
}

///
  .search-ky-ipqc{
  
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  > .ant-col{
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    > .ant-row{
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: row !important;
    }
  }
  > .ant-col-1{
    > .ant-btn{
      width: 100% !important;
    }
  }
}


  // 

  .search-objectPN {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100% !important;
    .search-memberPN {
      width: 100% !important;
      margin-left: 0 !important;
    }
    button{
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
  .form .ant-row {
    display: flex;
    flex-direction: column;
    .ant-col-8 {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  .header-container {
    div:nth-child(2) {
      width: 0;
      display: none;
      .ant-breadcrumb {
        display: none;
      }
    }
    div:nth-child(3) {
      max-width: 100% !important;
      width: 70%;
      margin-left: 15px;
    }

    div:nth-child(4) {
      width: 30%;
    }
  }

  .ant-page-header {
    display: none;
  }

  .ant-form {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .ant-col-11,
    .ant-col-12,
    .ant-col-md-12,
    .ant-col-8,
    .ant-col-20,
    .ant-col-22 {
      width: 100% !important;
      max-width: 100% !important;
      flex-basis: 100% !important;
      padding: 0 !important;
    }
  }

  .RowTool {
    .ant-col {
      width: 40px;
      .ant-btn-icon-only.ant-btn-lg {
        width: 35px;
        height: 35px;
        padding: 3px 0;
        font-size: 18px;
      }
    }
  }
  .SearchContainer {
    width: 100% !important;
    // background-color: red;
    flex-direction: column;

    div {
      button {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 3px;
      }
      display: flex !important;
      flex-direction: column;
      div {
        width: 100% !important;
        flex-direction: column;
        .ant-form-item {
          display: flex !important;
          flex-direction: row;
          div:nth-child(1) {
            label {
              font-size: small;
            }
            width: 50% !important;
          }
          div:nth-child(2) {
            width: 50% !important;
            .ant-form-item-control-input {
              width: 100% !important;
              .ant-form-item-control-input-content {
                width: 100% !important;
                .ant-select-borderless {
                  width: 100% !important;
                  .ant-select-selection-item {
                    overflow: visible;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .ant-select,
  .ant-select-borderless {
    width: 100% !important;
  }

  #address {
    padding: 0 !important;
  }
  #sider-mobile {
    max-width: 65px !important;
    min-width: 65px !important;
  }
  .ant-layout-sider-children {
    .ant-col {
      .ant-avatar {
        max-width: 50px !important;
      }
    }
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    .ant-col-11 {
      width: 40px !important;
    }
  }
  .rowFormNL {
    display: block !important;
    .colFormNL {
      width: 100% !important;
    }
  }

  .ant-modal {
    z-index: 9999999999;
    width: 100% !important;
    .ant-modal-content {
      width: 100% !important;
    }
  }

  .RowKetNhapBtn {
    display: flex;
    justify-content: space-between;
    div:nth-child(1) {
      width: 45% !important;
    }
    div:nth-child(2) {
      width: 40%;
      .ant-btn-primary {
        width: fit-content !important;
      }
    }
  }

  .headerView {
    margin-bottom: 0px !important;
  }
  .header2 {
    // background-color: red;
    margin-bottom: 15px !important;
    width: 100%;
    .ant-form {
      div {
        flex-direction: column !important;
        justify-content: center;
        .ant-col-6 {
          > .ant-form-item {
            margin-bottom: 5px;
          }
          width: 100% !important;
          max-width: 100% !important;
          .select-type {
            display: flex;
            flex-direction: row !important;
            > div:nth-child(1) {
              label {
                font-size: small;
              }
              max-width: 50% !important;
            }
            > div:nth-child(2) {
              max-width: 50% !important;
              .ant-form-item-control-input {
                width: 100% !important;
                .ant-form-item-control-input-content {
                  width: 100% !important;
                  .ant-select-borderless {
                    width: 100% !important;
                    > div:nth-child(1) {
                      justify-content: unset !important;
                    }
                    .ant-select-selection-item {
                      overflow: visible;
                    }
                  }
                }
              }
            }
          }
        }
        .ant-col {
          button {
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .ant-breadcrumb-link {
    font-size: 10px;
  }
}
